[submodule "third-party/leveldb"]
	path = third-party/leveldb
	url = https://github.com/google/leveldb.git
[submodule "third-party/SimpleCV"]
	path = third-party/SimpleCV
	url = https://github.com/ZHEQIUSHUI/SimpleCV.git
